body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
}

.Navbar {
    padding: 1em;
    background-color: black;
    color: gray;
}

.Navbar ul li a:hover {
    cursor: pointer;
    color: white;
}

.Navbar ul li {
    display: inline;
    padding: 1em;
}

#Logo {
    display: inline;
    font-size: larger;
    color: white;
}

#ActivedNavbar {
    color: white;
}

.IntroductionHeader {
    text-align: center;
    font-size: x-large;
}

.IntroductionContent {
    margin-top: 0%;
    text-align: center;
    line-height: 25px;
    padding-left: 175px;
    padding-right: 175px;
}

@media screen and (max-width:800px) {
    .IntroductionContent {
        padding-left: 100px;
        padding-right: 100px;

    }

    .ProjectCard {
        font-size: medium;
        justify-content: center;
    }

    #ProjectRemove {
        display: none;
    }

    #SkillRemove {
        display: none;
    }
}

.ProjectHeader {
    text-align: center;
    font-size: x-large;
}

.Projects {
}

.ProjectCards li {
    display: inline;
}

.ProjectCard {
    justify-content: center;
    display: inline-block;
    width: 19%;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
}

.ProjectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ViewMore {
    cursor: pointer;
    margin-left: 4em;
}

.ViewMore:hover {
    color: gray;
}

.SkillsHeader {
    text-align: center;
    font-size: x-large;
}

.SkillsCards li {
    display: inline;
}

.SkillCard {
    justify-content: center;
    display: inline-block;
    width: 19%;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
}

.SkillCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.AchievementHeader {
    text-align: center;
    font-size: x-large;
}

